/* Mobile */
@media (max-width:740px) {
    /* common */
    header{
        align-items: flex-start !important;
        padding: 1%;
        height: 50px;
    }
    .detail{
        margin: 35px 3%;    
    }
    /* header menu side*/
    header ul li a{
        padding-bottom: 25px;
        font-size: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.449) ;
    }
    header ul li{
        padding: 45px 40px;
        margin-left: -40px;
        text-align: center;
    }
    header ul li:hover{
        background: #F26522;
    }
    #nav-menu{
        background-color: black;
        border: 1px solid #F26522;
        display: block !important;
        position: fixed;
        width: 95vw;
        height: 85vh;
        justify-content: center !important;
        margin-top: 60px;
        background-color: color;
        transition: all 0.5s;
        left: -100%;
        overflow: scroll !important;
    }
    #nav-menu.active{
        left: 10px;
    }
    i #btn-nav{
        display: block;
    }
    header .logo img{
        width: 50%;
        top: 5px;
        left: 30vw;
    }
    .clb-name{
        margin-top: 20px;
        font-size: 15px;
    }
    .more{
        flex-direction: column;
    }
    .card-more{
        flex-direction: column;
    }
    .content{
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card{
        width: 300px;
    }
}
